<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="sign_up.css">
</head>  
<body>
        <h1 style="text-align: center;color: white;">Sign Up</h1>
        <!-- {% if error %}
        <p style="color:red;">{{error}}</p>
        {% endif %} -->
        <form method="POST">
            <label for="firstname">FirstName:</label>
            <input type="text" id="firstname" name=firstname><br><br>
            <label for="lastname">LastName:</label>
            <input type="text" id="lastname" name="lastname"><br><br>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age"><br><br>  
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="signup">
            
        </form>
</body>  
</html>